.slogan {
    text-align: center;
    font-size: 30px;
    font-weight: 200;
    margin-top: 30px;
}

.login-form {
    text-align: center;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 40px;
}