.list-group {
    margin-top: 50px;
}

.active-role-table {
    background-color:rgba(0, 0, 0, 0.2);
    padding: 20px;

    button{
        width: 100%;
    }
}

.filled-role-table {
    background-color:rgba(0, 0, 0, 0.2);
    padding: 20px;
}