.emblem {
    width: 34px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.emblem-text  {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    cursor: pointer;
}