/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap";

html {
    background: linear-gradient(-134deg, #3023AE 0%, #C96DD8 100%);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    width: 100%;
    font-family: Verdana, Geneva, sans-serif;
    padding-top: 40px;
}

body {
    background: linear-gradient(-134deg, #3023AE 0%, #C96DD8 100%);
    background: none;
    color: white;
    padding: 10px;
    min-height: 100%;
    width: 100%;
}

button {
    cursor: pointer;
}

input {
    background-clip: border-box !important;
}

select {
    height: 38px;
    color: #464a4c;
}