/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap";

html {
    background: linear-gradient(-134deg, #3023AE 0%, #C96DD8 100%);
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    font-family: Verdana, Geneva, sans-serif;
}

body {
    background: none;
    color: white;
    padding: 10px;
}

button {
    cursor: pointer;
}